{% extends 'layout/base.html' %}

{% block body %}
    <div class="display-1 text-center mt-2 mb-5">Buy Tickets Successfully</div>
    {% if data %}
        <div class="my-1 py-2" style="min-height: 60px">
            <div class="alert {% if data.status=='fail' %}bg-danger{% else %}bg-success{% endif %} d-flex bg-opacity-50" role="alert">
                 The tickets you have bought are
                {% for tikt in data.tickets.split(',') %}
                    <p class="btn bg-success text-light  fw-bold ms-2 px-4" style="width: 90px;">{{ tikt }}</p>
                {% endfor %}
                 . Waiting for admin to approved your purchased. These status can be seen in your profile.
            </div>
        </div>
    {% endif %}
{% endblock %}
