{% extends 'layout/base.html' %}
{% block body %}
    <!-- Head-->
    <div class=" text-center mt-5 pt-5">
        <h1 class="display-1 my-4">Choose A Ticket !</h1>
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="form-group">

                <select class="bg-dark text-light w-100 rounded p-2">
                    <option selected>Select from below.</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Head-->
{% endblock %}